.cursor-current {
	outline: 1px solid #47d42b;
	background: #47d42b;
	color: #fff;
}
.cursor-exception {
	outline: 1px solid #e63d3d;
	background: #e63d3d;
	color: #fff;
}
.cursor-error {
	outline: 1px solid #e63d3d;
}
.cursor-done {
	color: #333;
}
.cursor-current.break-line:before,
.cursor-error.break-line:before,
.cursor-exception.break-line:before {
	content: "\23CE";
	font-size: 12px;
}

#typesetter {
	font-family: "Ubuntu Mono" !important;
	color: #999;
}
/* span {
	border: 0.5px solid red;
} */